body{
  margin: 0;
  padding: 0;
}
.wrapper{
  position: relative;
  padding-top: 127px;
}
.header{
  width: 100%;
  background-color: #DFE0E1;
    position: fixed;
    top: 0;
    transition: all 0.2s ease;
    z-index: 3;
}

.headerMenuContent{
  position: relative;
z-index: 2;
width: 100%;
box-sizing: border-box;
padding-top: 42px;
padding-bottom: 42px;
padding-left: 4vw;
padding-right: 4vw;
pointer-events: auto;
}
.header .homeLogo{
  display:inline-block;
  max-width: 150px;
  vertical-align: middle;
}

.header ul{
  margin-top: 0;


}
.header ul li{
  display: inline-block;
      margin-right: 1.8vw;
      font-family: 'Open Sans', sans-serif;

}

.header ul li a{
      text-decoration: none;
      backface-visibility: hidden;
      padding: .1em 0;
      color: #000;

}

.headerMenu2{
  left: 105%;
  opacity: 0;
  position: fixed;
top: 0;
height: 100%;
width: 100%;
background: #fff;
z-index: 2;
padding-top: 80px;
transition: opacity 0.2s ease;
}


.headerMenu2 ul li{
  display: block;
  font-size: 45px;
  padding: 25px
}

.header .headerMenu{
  display:inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}




.section2{
  width: 100%;
  margin: 0 auto;

}

.section2Titles{
  max-width: 78%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
}


.leftSide{
  width: 40%;
  display: inline-block;
  background-color: #white;
  color: black;
  padding: 25px;
}

.leftSide h1{
      font-size: calc(3.0 * 1rem);
      padding: 0 17px 17px 17px;
      margin: 0;
      font-family: 'Open Sans', sans-serif;
}

.leftSide p{
  padding: 17px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}

.rightSide h1{
      font-size: calc(4.0 * 1rem);
      padding: 0 17px 17px 17px;
      margin: 0;
      font-family: 'Open Sans', sans-serif;
}

.rightSide p{
  padding: 17px;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}


.rightSide{
  width: 40%;
  display: inline-block;
  text-align: center;
 background-color:#DFE0E1;;
 padding: 25px;
}

.rightSide .rightSideImg1{
  width: 100%;
}

.rightSide .rightSideImg2{
  width: 100%;
}

.forHover{
  position: relative;
  width: 100%;
}

.rightSide .rightSideImg1 {
  position: relative;
  opacity: 1;
  z-index: 0;
  max-width: 89%;
}

.rightSide .rightSideImg2{
  top: 2px;
  left: 2px;
  opacity:0;
  position: absolute;
  z-index: 1;
  transition: opacity 0.2s ease;
  max-width: 89%;
  margin-left: 30px;
}

.forHover:hover .rightSideImg2{
  opacity: 1;
}

.section2Ul{
  display: inline-block;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.section2Ul .listImg1{
  position: relative;
  opacity: 1;
  z-index: 0;
}

.section2Ul .listImg2{
  top: 2px;
  left: -1.5px;
  opacity:0;
  position: absolute;
  z-index: 1;
  transition: opacity 0.2s ease;
}


.section2Ul img{
  width: 100%;
}

.section2List ul li{
    display: inline-block;
    max-width: 20%;
    overflow: hidden;
    position: relative;
}


.footer{
  width: 100%;
  background-color: #28282A;
}

.footerContent{
  margin: 0 auto;
  max-width: 78%;
}


.footerLogo img{
  max-width: 150px;
}


.footerList ul li{
  display: inline-block;
  margin-right: 60px;
}

.footerList ul img{
  max-width: 16px;
  max-height: 56px;
}

.footer .footerList{
  display: inline-block;
}

.footerContent{
  padding: 55px 0 ;
}

.footerContent p {
  font-size: 25px;
  display: inline-block;
  color: white;
}

.fab{
  font-size: 33px;
color: white;
}

.footerlistLogos{
    display: flex;
    justify-content: space-between;
}


@media only screen and (max-width: 1720px){
  .leftSide h1{
        font-size: 30px;
        padding: 0 0px 10px 0px;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
}
        .leftSide p{
          padding: 25px 0px 10px 0;
          margin: 0;
          font-size: 16px;
          line-height: 22px;
          font-weight: 500;
          font-family: 'Open Sans', sans-serif;
        }

}

@media only screen and (max-width: 1420px){
  .footerlistLogos{
    display: block;
  }

  .footerList ul{
    padding-left: 0;
  }

  .footer p{
    display: block;
  }
  .footer .footerList{
    display: block;
  }
  .leftSide h1{
        font-size: 30px;
        padding: 0 0px 10px 0px;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
  }


.leftSide p{
  padding: 25px 0px 10px 0;
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  font-family: 'Open Sans', sans-serif;
}
.rightSide .rightSideImg2{
  margin-left: 20px;
}
}

@media only screen and (max-width: 1330px) {
  .backImg h1 {
    font-size: calc(3.3 * 1rem);
}

  .leftSide{
    width: 48%;
  }

  .rightSide{
    width: 48%;
  }

  .leftSide h1{
        font-size: 36px;
        padding: 0 17px 17px 0px;
        margin: 0;
  }
  .leftSide p{
    padding: 0 17px 17px 0;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
  }

  .section3RecentNews h1{
    font-size: 40px;
  }


}
@media only screen and (max-width: 980px) {
  .section2Titles{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  .leftSide{
    width: 100%;
    display: block;
  }

  .rightSide{
    margin-left: 0;
    width: 100%;
    display: block;
    padding-bottom: 0;
  }

  .rightSide .rightSideImg2{
    margin-left: 30px;
    top: 2px;
    left: 2px;
  }




  .leftSide h1{
        font-size: 30px;
        padding: 0 0px 10px 0px;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
  }
  .leftSide p{
    padding: 0 0px 10px 0;
    margin: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
  }
  .section3RecentNews h1{
    font-size: 30px;
  }
  .section3RecentNews a{
    font-size: 10px;
  }
  .section4Title{
    font-size: 18px;
  }

  .footerContent p {
    font-size: 20px;
  }

}


@media only screen and (max-width: 790px) {
  .header .headerMenu{
    display:none;
  }
  .headerMenuContent{
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
justify-content: space-between;
  }
  .wrapper{
    padding-top: 87px;
  }

  .hamburgerMewnu{
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
  }

  .hamburgerMewnu div{
    border: 1px solid black;
    width: 30px;

  }
   .hamburgerMewnu .hamburgerMenuSecond{
     margin-top: 12px;
   }
   body.visibleMenu{
     overflow: hidden;
   }
  body.visibleMenu  .headerMenu2{
    left: 0;
    opacity: 1;
     overflow: auto;
   }

   body.visibleMenu .header{
     background-color: white;
   }

   .headerMenu2 a{
     text-decoration: none;
     color: black;
   }

   .section3Link1{
     max-width: 32%;
   }
   .section3Link2{
     max-width: 45%;
   }
   .section4Title{
     max-width: 60%
   }
   .section4Content{
    padding: 100px 20px 150px;
   }
   .footerContent p {
     font-size: 15px;
   }


}

@media only screen and (max-width: 560px) {

    .section4Content{
      padding-top: 60px;
      padding-bottom: 60px;
    }

  .section4Title {
      max-width: 100%;
  }

  .footerList ul li {
  margin-right: 25px;

}
  .fab{
    font-size: 23px;
  color: white;
  }

}
