@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   }
body{
   font-family: sans-serif;
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   height: 100vh;
   font-family: 'Roboto', sans-serif;
   }
main{
   flex: 1;
   }
img{
  width: 100%;
  image-rendering: optimizeSpeed;
   }
.first-section {
     height: 550px;
	  background-image: url(../img/section1.jpeg);
	  background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: center;
     -moz-box-shadow: inset 10px 10px 50px #fff;
     -webkit-box-shadow: inset 10px 10px 50px #fff;
     box-shadow: inset 0 250px 50px rgb(255, 255, 255);

}

.first-section-d{  
   width: 571px;
   padding-bottom: 260px;
   padding-left: 60px;
   margin-right: 60px;
}
.first-section-title{
   text-align: center;
   margin-bottom: 20px;
}
.first-section-text{
   text-align: center;
   font-size: 15px;
   color:rgb(139, 136, 136)
}

.second-section{
   height: 500px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding-right: 150px;
   padding-left: 150px;
}
.second-section-d{
   width: 500px;
}

.second-section-d1{
   width: 400px; 
}
.third-section {
   height: 400px;
   background-image: url(../img/grey.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding-top: 120px;
   padding-bottom: 120px;
}
.third-section-d1{
   width: 100%;
   display: flex;
   flex-direction: row; 
   align-items: inherit;
   justify-content:space-around;
}
.third-news-1, .third-news-2{
    width: 450px; 
}
.third-news-1, .third-news-2 p{
   text-align: center;
   color: black;
   vertical-align:middle;
}
.third-news-2{
   margin-top: 28px;
}
  a {
   color: rgb(53, 50, 50);
  }
  a:visited {
   color: #0a0a0a; 
  }
  a:active {
   color: #494949; 
}

.fourth-section{
   height: 400px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
   padding-top: 120px;
   padding-bottom: 120px;
   font-family: 'Varela Round', sans-serif;
}
.fourth-section-d{
   width: 400px; 
}
.fourth-section-text2{
   text-align: right;
   font-size: 12px;
   padding-right: 20px;
}
.footer_items{
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #ffffff;
   }
   .social{
      padding-top: 16px;
   }
.social ul{
   list-style-type: none;
   display: flex;
   }
   .social ul li{
   margin-left: 10px;
   width: 30px;
   }
   .social ul li a{
   text-decoration: none;
   padding: 10px;
   }
   footer{
   background-color: #fff;
   box-shadow: 0px 1px 3px #ccc;
   padding: 15px 0;
   background-color: #fdfdfd;
   color: #7BBC94;
   }

.pacs-sec1{
   height: 550px;
   background-image: url(../img/foonpack.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   padding-left: 170px; 
}
.pacs-sec1-d{
   width: 500px;
}
.pacs-sec1-title{
    font-size: 50px; 
    font-weight: bold;
}

/*.pacs-sec1-text{

}*/

.pacs-sec2{
   height: 500px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding-right: 150px;
   padding-left: 150px;
}
.pacs-sec2-d{
   width: 500px;
}

.pacs-sec2-d1{
   width: 400px; 
}

.pacs-sec3{
   height: 800px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding-right: 100px;
   padding-left: 207px;
   background-color:#bd8fcf
}

.pacs-sec3-d{
   width: 450px;
}

.pacs-sec3-d1{
   display: flex;
   flex-direction: column;
   padding-top: 100px;
}

.flex-wrapper{
   width: 100%;
   display: flex;
   justify-content: center;
}

.slider-wrapper{
   min-width: 500px;
   width: 100%;
   height: 100%; 
   position: relative;
}

.slide{
   width: 100%;
   height: 100%;
   display: none;
}

.slide.active{
   display: block;
}

.dots-wrapper{
   display: flex;
   margin-top: 10px;
}

span{
   width: 150px;
   height: 100px;
   border-radius: 50%;
   margin-right: 10px;
   cursor: pointer;
}
span img{
   border-radius: 7%;
   width: 100%;
}
span img:hover{
   border: 5px solid rgb(255, 255, 255);
   opacity: 0.9;
   transition: 0.25s;
}

span:last-child{
   margin-right: 0;
}
span::after{
   color: white;
}

#arajin img:last-child{
   display: none;
}
#arajin:hover img:last-child{
   display: block;
}
#arajin:hover img:first-child{
   display: none;
}


#erkrord img:last-child{
   display: none;
}
#erkrord:hover img:last-child{
   display: block;
}
#erkrord:hover img:first-child{
   display: none;
}

#errord img:last-child{
   display: none;
}
#errord:hover img:last-child{
   display: block;
}
#errord:hover img:first-child{
   display: none;
}

#chorrord img:last-child{
   display: none;
}
#chorrord:hover img:last-child{
   display: block;
}
#chorrord:hover img:first-child{
   display: none;
}


.fp-sec1{
   height: 500px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
   padding-right: 150px;
   padding-left: 150px;
}
.fp-sec1-d{
   width: 500px;
}

.fp-sec1-d1{
   width: 400px; 
}

.fp-sec1-title{
   color: #7BBC94;
}
.form{
   width: 40%;
   margin-bottom: 10px;
   }
   .form_item input, .form_item select, .form_item textarea{
       width: 100%;
       padding: 5px;
       border-radius: 3px;
       border: 1px solid #ccc;
   }
   .form_item label{
   margin: 10px 0px;
   display: block;
   }
   .form_item textarea{
   height: 200px;
   }
   .form_btn{
   padding: 8px 30px;
   background-color: #7BBC94;
   border: 1px solid #7BBC94;
   color: #fff;
   border-radius: 3px;
   cursor: pointer;
   transition: all .25s ease;
   }
   .form_btn:hover{
   background-color: #c0c2c2;
   border-color: #c0c2c2;
   }
   .map{
     width: 50%;
   }
   .row{
     display: flex;
     justify-content: space-between;
   }